PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Supabase Database & Auth
SUPABASE_URL=https://pcoyrxdeiigynmmpxtng.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_8a45h1VJmmAJFCwz4PlLQQ_uyX-244W
SUPABASE_SECRET_KEY=sb_secret_j45Z1Y_-PsSl7RFdSHvhkA_SRgZuys5
SUPABASE_JWKS_URL=https://pcoyrxdeiigynmmpxtng.supabase.co/auth/v1/.well-known/jwks.json
